<a href="https://colab.research.google.com/github/Olga643/Example/blob/main/Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

## Условие 1: Задача 1
- Скачать данные по ссылке
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк

In [4]:
df = pd.read_csv('kc_house_data.csv', encoding='1251', index_col='id', parse_dates=['date'], dayfirst=False )
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [54]:
df.dtypes

date               datetime64[ns]
price                     float64
bedrooms                    int64
bathrooms                 float64
sqft_living                 int64
sqft_lot                    int64
floors                    float64
waterfront                  int64
view                        int64
condition                   int64
grade                       int64
sqft_above                  int64
sqft_basement               int64
yr_built                    int64
yr_renovated                int64
zipcode                     int64
lat                       float64
long                      float64
sqft_living15               int64
sqft_lot15                  int64
delta_renovated            object
dtype: object

### 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0

In [68]:
df['delta_renovated'] = df['yr_renovated']- df['yr_built']
df['delta_renovated'] = df['delta_renovated'].where(df['delta_renovated'] > 0, other = 0)
df.sample(5)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
id,,,,,,,,,,,,,,,,,,,,,
3750606890,2014-06-26,220000.0,3,1.50,1660,15600,2.0,0,0,3,...,1660,0,1981,0,98001,47.2589,-122.279,1660,14400,0
9477500060,2014-08-13,484000.0,6,2.50,3300,13501,1.0,0,0,3,...,2060,1240,1980,0,98059,47.5116,-122.163,2060,8745,0
7852090680,2015-03-05,561000.0,4,2.50,2550,5395,2.0,0,0,3,...,2550,0,2001,0,98065,47.5355,-121.874,2850,6109,0
2591800530,2014-10-27,315000.0,4,2.25,1880,9163,2.0,0,0,3,...,1880,0,1981,0,98058,47.4362,-122.165,1900,7980,0
2140950130,2014-09-11,440000.0,4,2.50,2990,7928,2.0,0,0,3,...,2990,0,2011,0,98010,47.3139,-122.024,2810,7401,0

### 1.3 Создайте признаки года продажи, месяца продажи

In [71]:
df['year_of_sale'] =pd.DatetimeIndex(df['date']).year
df.sample()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year_of_sale
id,,,,,,,,,,,,,,,,,,,,,
5360200052,2015-02-24,499950.0,3,2.5,2580,23925,2.0,0,0,3,...,0,2001,0,98023,47.2978,-122.376,1660,8460,0,2015

In [72]:
df['month_of_sale'] =pd.DatetimeIndex(df['date']).month
df.sample()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
id,,,,,,,,,,,,,,,,,,,,,
1646500785,2014-12-15,499000.0,2,1.0,1450,3090,2.0,0,0,3,...,1919,1987,98103,47.6853,-122.356,1450,4635,68,2014,12

### 1.4 Удалите признаки date, zipcode, lat, long

In [73]:
df.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)
df.sample(5)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
id,,,,,,,,,,,,,,,,,,,
1453602309,288000.0,0,1.50,1430,1650,3.0,0,0,3,7,1430,0,1999,0,1430,1650,0,2014,8
5137200140,350000.0,4,2.75,2990,11210,1.0,0,1,4,8,1880,1110,1977,0,2790,9858,0,2015,3
6806100420,299000.0,3,2.50,1850,4600,2.0,0,0,3,7,1850,0,2005,0,2160,4751,0,2014,11
224069084,475000.0,3,1.00,1250,150117,1.0,0,0,3,7,1250,0,1975,0,3060,50055,0,2015,3
5363200200,932800.0,5,3.25,2980,7095,2.5,0,0,3,9,2980,0,1998,2007,1670,7140,9,2015,4