<a href="https://colab.research.google.com/github/Olga643/Example/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Условие 2:
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [3]:
def fruit_basket(**kwargs):
    total = sum(kwargs.values())
    return f'Общее количество фруктов на складе: {total}'

In [6]:
fruit_basket(
    Яблоки = 23,
    Бананы = 17,
    Апельсины = 10
)

'Общее количество фруктов на складе: 50'

## Условие 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [ ]:
advert_costs = [100, 125, -90, 345, 655, -1, 0, 200]
new_costs = [i if i > 0 else 0 for i in advert_costs]
amount = sum(new_costs)
amount

1425

## Условие 4:
Даны два списка.

Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions
### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [13]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30',
        '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18',
        '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20',
        '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
        '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

revenue = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274,
          6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [15]:
my_dict = {date[i]: revenue[i] for i in range(len(data))}
my_dict
print(sum([r for d, r in zip(date, revenue) if d[5:7] == "11"]))

25098

In [17]:

def sum_in_month(date: list, money: list) -> dict:
    res = {}
    for d, m in zip(date, money):
        if d[5:7] in res.keys():
            res[d[5:7]] = res[d[5:7]] + m
        else:
            res[d[5:7]] = m
    return res

print(sum_in_month(date, revenue))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}