<a href="https://colab.research.google.com/github/Olga643/Example/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задание 1.

### 1.1 Соедините два словаря в один

In [1]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}
dict3 = dict1 | dict2
print(dict3)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [2]:
dict4 = {**dict1, **dict2}
print(dict4)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [3]:
dict1.update(dict2)
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

### 1.2 Напишите функцию, которая на вход принимает два словаря и возвращает один объединенный словарь
Используйте аннотирование типов

In [4]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [5]:
def dict_union(d1: dict, d2: dict) -> dict:
    for key, value in d2.items():
        d1[key] = value
    return d1

print(dict_union(dict1, dict2))

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

## Задание 2.
Напишите функцию, которая из двух списков, делает один словарь, где элементы из первого списка - ключи, а элементы из второго списка - значения
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]
Используйте аннотирование типов

#### 2.1 Используя цикл for

In [6]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

In [7]:
def create_dict(k:list[str], v:list[int]) ->dict:
    dict_result = {}
    for i in range(len(k)):
        dict_result[k[i]] = v[i]
    return dict_result

create_dict(keys,values)

{'One': 1, 'Two': 2, 'Three': 3}

#### 2.2 Используя dict comprehensions

In [8]:
my_dict = {keys[i]: values[i] for i in range(len(keys))}
my_dict

{'One': 1, 'Two': 2, 'Three': 3}

## Задание 3.
Извлеките только два ключа name и age из представленного
словаря
### 3.1 Напишите функцию с циклом for
Функция на вход принимает:
исходный словарь
ключи, которые нужно извлечь (аргумент по
умолчанию)
На выходе словарь с нужными ключами
Используйте аннотирование типов

In [9]:
client_dict = {
    "name": "John",
    "age": 25,
    "salary": 5000,
    "city": "Moscow"
}

In [11]:
def new_dict(dict_input: dict, keys: list = ["name", "age"]) -> dict:
  dict_res = {}
  for k in keys:
    dict_res[k] = dict_input[k]
  return dict_res
new_dict(client_dict)

{'name': 'John', 'age': 25}

### 3.2 Используя dict comprehensions

In [13]:
my_dict = {k: client_dict[k] for k in ["name", "age"]}
my_dict

{'name': 'John', 'age': 25}

## Задание 4.
### 4.1 Сгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random
● Зафиксируйте псевдогенерацию, чтобы
сгенерированные значения всегда были одинаковые

● Используйте list comprehensions

In [14]:
import random

In [31]:
random.seed(10)
data = [random.randint(0, 100) for i in range(5)]
data

[73, 4, 54, 61, 73]

### 4.2 Напишите генератор
Генератор на вход принимает список с данными о клиенте (данные
из пункта 4.1)
Внутри генератора реализуйте обход по списку с данными
На каждой итерации генератор будет возвращать кортеж из двух
элементов:
1. данные по клиенту (в зависимости от итерации, на 0 итерации
вернется 0 элемент, на 1 итерации вернется 1 элемент и тд)
2. целочисленное значение, которое показывает, сколько секунд
прошло с предыдущей итерации
Примечание: секунды, которые возвращаются должны показывать время не
с начала запуска генератора, а именно то время, которое прошло с
предыдущей итерации. А значит время на первой итерации должно
равняться 0.
Используйте функцию time из модуля time для подсчета времени.
Чтобы проверить работу таймера, запустите проход по
генератору в цикле с time.sleep(2)

In [21]:
import time

In [38]:
def func(nums: list) -> tuple:
  last_time = time.time()
  for num in nums:
    cur_time = time.time()
    diff = cur_time - last_time
    yield num, int(diff)
    last_time = cur_time

In [39]:
for item in func(data):
  print(item)
  time.sleep(2)

(73, 0)
(4, 2)
(54, 2)
(61, 2)
(73, 2)

## Задание 5.
### 5.1 Найдите картинку в интернете и прикрепите её в ячейку с текстом

<img src= 'https://img.freepik.com/free-photo/close-up-red-tropical-flowers-with-blurred-background_23-2148245251.jpg?t=st=1689620617~exp=1689621217~hmac=c95fbe6e67ce2f2c9c63f968b0d28b2be25b543d22962a1ab2b59a8c66c82cda width = 200'>

<img src = https://c.wallhere.com/photos/53/43/nature_stone_island_colourful_stone_cellphone_beach_vertical_water_Sun-2199629.jpg!d width = 300>

<table>
   <tr>
       <td></td>
       <td>До события</td>
       <td> Во время</td>
   </tr>
      <tr>
       <td>Первая точка</td>
       <td>250</td>
       <td> 500</td>
   </tr>
      <tr>
       <td>Вторая точка</td>
       <td>350</td>
       <td>700</td>
   </tr>
      <tr>
       <td>Третья точка</td>
       <td>400</td>
       <td>800</td>
   </tr>
      <tr>
       <td>Итого за победу</td>
       <td>1000</td>
       <td>2000</td>
   </tr>
</table>

## Задание 6.
Напишите функцию, которая может принимать любое
количество трат пользователя и считать сумму и среднее.
На вход поступают целочисленные значения в любом
количестве
На выходе словарь с ключами суммы трат и средней
траты

In [44]:
def calc(*args):
  summa = sum(args)
  avg = summa / len(args)
  return {"Сумма": summa, "Среднее": avg}

In [45]:
calc(25, 30, 45, 60)

{'Сумма': 160, 'Среднее': 40.0}